@{
    ViewData["Title"] = "Home Page";
}

<section class="p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="display-2 text-sm-center">Registration</h1>
                <p class="lead my-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                    beatae fuga animi distinctio perspiciatis adipisci velit maiores
                    totam tempora accusamus modi explicabo accusantium consequatur,
                    praesentium rem quisquam molestias at quos vero. Officiis ad
                    velit doloremque at. Dignissimos praesentium necessitatibus
                    natus corrupti cum consequatur aliquam! Minima molestias iure
                    quam distinctio velit.
                </p>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="~/Image/pic1.jpg" alt="Alternate Text" />

        </div>
    </div>
</section>
<section class="bg-primary bg-gradient text-light p-5">
    <div class="container">
        <div class="d-md-flex 
             justify-content-between
             align-items-center">
            <h3 class="mb-3 mb-md-0">
               ONe Tow
            </h3>
        </div>
    </div>
</section>
